.project
.as3_classpath
.externalToolBuilders/Dorothy Builder.launch
logo.psd
.settings/com.powerflasher.fdt.classpath
.settings/com.powerflasher.fdt.core.prefs
.settings/org.eclipse.core.resources.prefs
framework_planning.xls
