.project
.as3_classpath
.externalToolBuilders/Dorothy Builder.launch
.externalToolBuilders/DorothyBuild.launch
.externalToolBuilders/com.powerflasher.fdt.core.FlashBuilder.launch
.settings/com.powerflasher.fdt.classpath
.settings/com.powerflasher.fdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.settings/com.powerflasher.fdt.core.formatter.prefs
*.svn
.DS_Store
.settings/org.eclipse.ltk.core.refactoring.prefs
